@media (max-width:801px){
    .top-bar{
        margin-top: 30px;
        display:flex;
    }

    .header img{
        display: none;
    }

}


@media (max-width:600px){
    img.thumbnail{
        max-width: 60%;
    }

    .personal{
        display: flex;
        justify-content: center;
    }

}
